
* {
  padding: 0;
  margin: 0;
}


body {
  background-image: url("/src/blackboard.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100% 100%;

  /*background: #63856a; 
  background: -moz-radial-gradient(center, ellipse cover,  #63856a 1%, #3c5a40 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#63856a), color-stop(100%,#3c5a40)); 
  background: -webkit-radial-gradient(center, ellipse cover,  #63856a 1%,#3c5a40 100%); 
  background: -o-radial-gradient(center, ellipse cover,  #63856a 1%,#3c5a40 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #63856a 1%,#3c5a40 100%); 
  background: radial-gradient(ellipse at center,  #63856a 1%,#3c5a40 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63856a', endColorstr='#3c5a40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



h1 {
  font-family: 'Walter Turncoat', cursive;
  color: white;
}


.App-header {
  margin-top: 80px;
}


main {
  width: 70%;
  margin: 10px auto;

}




footer {
  margin: 0px 0 15px 0;
}

.copyright {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 2px rgba(31, 52, 63, 0.5);
}

.fa-github-square,
.fa-linkedin {
  text-decoration: none;
  color: white;
  padding: 0 5px;
}

