


.photo-box img {
    width: 95%;
    background:#ffc;
    padding: 10px 5px 50px 5px;
    margin: 0 0 25px 10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
   
}






.photo-box img:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

